{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <a href="{% url 'post_list' %}"><h1>blog personal</h1></a>
    <a href="{% url 'post-new' %}"><h1>Crear post</h1></a>
    <a href="{% url 'login' %}">iniciar sesion</a>
    {% if user.is_authenticated %}
        <p>Hola, {{ user.username }}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Cerrar sesion</button>
        </form>
        {% endif %}
    {% block content %}
    {% endblock content %}
</body>
</html>